.top-bar .title-area {
   margin-top: .3em;
}

.panel {
  margin-top: 1em;
}

.person {
  background-color: #dfdfdf;
  background-image: -webkit-linear-gradient(top, #dfdfdf, #9b9b9b);
  background-image:         linear-gradient(to bottom, #dfdfdf, #9b9b9b);
  border-radius: 2.5em;
  border: 1px solid #9d9d9d;
  -webkit-box-shadow: inset 0px 6px 1px -2px #fff;
  box-shadow: inset 0px 6px 1px -2px #fff;
  width: 23%;
  margin: 1%;
  max-height: 17em;
}

.person.selected .button{
  background: #68468f;
}

.person header {
   clear:both;
}
.person header h5 {
   float:left;
   font-size: 1.25em;
   font-weight: 400;
   margin: .5em;
}
.person header span {
   display:block;
   clear:both;
   font-size: .75em;
}
.person header img {
   background-color: white;
   border-radius: 100%;
   float:right;
   margin-top: .5em;
}
.person ul {
   font-size:.9em;
   clear:both;
}
.person ul li {}

